{{ partial "header.html" . }}

<section id=content>
  <ul class=posts_listing>
   {{ range where .Paginator.Pages "Section" "post" }}
      <li>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div id=date>
          <time>{{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }}</time>
        </div>
        <p>{{ .Summary }} <a href="{{ .Permalink }}">Read More…</a></p>
        
      </li>
    {{ end }}
  </ul>
</section>

{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}
